.two-items {
    .single_post {  
      .single_post_text {
        text-shadow: 1px 1px 2px black;
  
        .meta {
          color: #1091FF;
          text-transform: uppercase;
        }
      }
    }
  }