@import "../../doc/scss/colors.scss";
@import "../../doc/scss/responsive.scss";

.carousel-matchs {
  padding: 20px 0;

  .block-fixture {
    
    .row-team {
      margin: 0 0 10px;
      min-height: 43px;
      
      .team-picture {
        height: fit-content;
      }

      .team-name {
        line-height: 40px;
        width:170px;
        overflow:hidden;
        height:40px;
      }
    }

    .row-status {
      background-color: #e0f29a;
      color: #000;
      padding: 2px 5px;
      font-size: 12px;

      &.finished {
        background-color: #21b938;
        color: #fff;
      }
    }
  }

  .block-fixture {
    width: 100%;

    .swiper-wrapper {
      .single_post {
        .post_img {
          img {
            border-radius: 10px;
            object-fit: cover;
            min-height: 280px;
            max-height: 280px;
          }
        }
    
        .single_post_text {
          text-shadow: 1px 1px 2px black;
    
          .field-title {
            color: #1091FF;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mobile_layout) {
    
  }
}