@import "../../doc/scss/colors.scss";
@import "../../doc/scss/fonts.scss";

.OneItemFeatured {
  .row {
    .column {
      padding-left: 0;
      padding-right: 0;

      .single_post {  
        .post_img {
          .img_wrap {
            height: 720px;

            img {
              width: 100%;
            }
          }
        }
        .single_post_text {
          padding: 10px 10px 40px 10px;
          left: 3%;
          width: 50%;
          position: absolute;
          top: 350px;
          z-index: 9;
          padding: 20px;
          color: white;
    
          .field-copete {
            border-radius: 100px;
            position: relative;
            background-color: white;
            color: $secondary_color;
            text-transform: uppercase;
            padding: 8px 16px;
            letter-spacing: 2px;
            font-size: 16px;
            margin-bottom: 15px;
            display: inline-block;
          }

          .field-title {
            a {
              text-shadow: 0 4px 16px rgba(0,0,0, 30%);
              color: white;
              text-transform: uppercase;
              font-size: 40px;
              line-height: 50px;
              font-family: $font1;
            }
          }

          .field-date {
            font-family: $font2;
          }

          .field-dropline {
            font-family: $font2;
            font-size: 18px;
          }
        }
      }
    }
  }
}

.OneItemFeaturedMobile {
  .row {
    .single_post {
      .post_img {
        .img_wrap {
          max-height: 250px
        }
      }

      .single_post_text {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }
}