@import "../../doc/scss/colors.scss";

.OneItemFeatured {
  .row {
    .column {
      padding-left: 0;
      padding-right: 0;
      max-height: 520px;

      .single_post {  
        .post_img {
          a {
            display: block;

            img {
              width: 100%;
              max-height: 520px;
            }
          }
        }
        .single_post_text {
          text-shadow: 1px 1px 2px black;

          h4 {
            a {
              font-size:60px
            }
          }
    
          .meta {
            position: relative;
            background-color: $secondary_color;
            color: $white;
            text-transform: uppercase;
            display: inline;
            padding: 0 10px 0 5px;

            &::after {
              position: absolute;
              left: -22px;
              content: "";
              top: 10px;
              border-bottom: 12px solid transparent;
              border-left: 10px solid transparent;
              border-top: 10px solid transparent;
              border-right: 12px solid #14A5C0;
              transform: skewY(-45deg);
            }
          }
        }
      }
    }
  }
}