@import "../../../doc/scss/colors.scss";
@import "../../../doc/scss/fonts.scss";

.block-reference {
  border: 1px dashed $secondary_color;
  padding: 10px;
  min-height: 86px !important;

  .post_img {
    top: 10px !important;
    left: 10px !important;

    img {
      max-height: 66px !important;
    }
  }
}

.block-quote {
  background: $secondary_color;
  border-radius: 6px;
  padding: 10px;
  color: white;
  text-align: center;

  .field-message {
    font-size: 22px;
    font-family: $font1;
  }

  .field-author {
    font-size: 18px;
  }
}

.field-editor {
    .rdw-editor-wrapper {
      .rdw-editor-toolbar {
        .field-actions {
          display:flex;
          justify-content: space-between;

          button {
            background: $secondary_color;
            border-radius: 6px;
            border: 0;
            color: white;
            cursor: pointer;
            
            &.close {
              background: $close_color;
              padding: 0 10px;
            }
          }

        }
      }

      .rdw-option-wrapper {
        min-width: 35px;
        height: 30px;
      }
      .rdw-editor-main {
        min-height: 200px;
        font-family: "Verdana, Geneva, sans-serif";
      }
    }
}

.button-modal {
  .rdw-dropdown-optionwrapper {
    position: absolute;
    top: 70px;
    width: 300px;
    padding: 10px;
    display: none;

    &.open-modal {
      display: block;
    }
  }
}