@import "../../../doc/scss/colors.scss";

.block-reference {
  border: 1px dashed $secondary_color;
  padding: 10px;
  min-height: 86px !important;

  .post_img {
    top: 10px !important;
    left: 10px !important;

    img {
      max-height: 66px !important;
    }
  }
}

.field-editor {
    .rdw-editor-wrapper {
      .rdw-option-wrapper {
        min-width: 35px;
        height: 30px;
      }
      .rdw-editor-main {
        min-height: 200px;
        font-family: "Verdana, Geneva, sans-serif";
      }
    }
}



.button-modal {
  .rdw-dropdown-optionwrapper {
    position: absolute;
    top: 70px;
    width: 300px;
    padding: 10px;
    display: none;

    &.open-modal {
      display: block;
    }
  }
}