@import "../../doc/scss/fonts.scss";

.trending-head {
    .single_post {
        padding: 0 10px;

        .post_img {
            .img_wrap {
                img {
                    width: 100%;
                    max-height: 250px;
                    border-radius: 6px;
                }
            }
        }
    
        .single_post_text {
            .field-category {
                font-family: $font2;
                font-size: 16px;
                text-transform: capitalize;
            }
        }
    }
}