@import "../../doc/scss/colors.scss";
@import "../../doc/scss/fonts.scss";

.page-article {
  .page-share {
    .share-buttons {
      button {
        margin-bottom: 10px;
      }
    }
  }
  .page-content {
    .public-DraftStyleDefault-block,
    p {
      margin-bottom: 10px;
      font-family: $font2;
    }
    
    .field-copete-date {
      font-family: $font2;

      .field-date {
        text-align: right;
        font-size: 14px;
        color: #999;
      }
    }

    .single_post_heading {
      h1.field-title {
        color: $secondary_color;
      }

      .field-dropline {
        font-family: $font2;
      }
    }
  }
}