@import "../../doc/scss/colors.scss";

.OneTwoItemsFeatured {
  .row {
    .column {
      padding-left: 0;
      padding-right: 0;

      .single_post {  
        .single_post_text {
          text-transform: uppercase;
          text-shadow: 3px 2px 1px black;
    
          .meta {
            position: relative;
            background-color: $secondary_color;
            border-radius: 6px;
            color: $white;
            text-transform: uppercase;
            display: inline;
            padding: 10px 14px;
            font-size: 20px;
          }
        }
      }
      
    }

    .column-1 {
      .img_wrap {
        height: 500px;          
        
        a {
          display: block;
          
          img {
            width: 100%;
            height: 500px;
          }
        }
      }
    }
    
    .column-2 {
      .img_wrap {
        height: 250px;

        a {
          display: block;
        }
      }

      img {
        width: 100%;
        height: 250px;
      }
    }
  }
}